body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;

}

.stopwatch {
    font-size: 36px;
    background-color: pink;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    text-align: center;
}
.letter{
    color: rgb(194, 28, 84);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#display {
    font-size: 36px;
    margin: 20px;
    color: #333;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: coral;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color:blueviolet;
}

button:active {
    background-color:rgb(189, 25, 107);
}
body{
    background-color:rgb(162, 110, 213);
    background: linear-gradient(90deg, pink,rgb(120, 18, 35));
}